    body{
        margin: 10px;
        alignment: left;
        background-color: #FFFFFF;
    }

    #Mypage_button {
        float: right;
    }

    #kurv {
        float: right;
    }

    #banner-main {
        width: 1000px;
        border-radius: 10px;
    }

    #home_button {
        height: 30px;
        width: 30px;
    }

    input {
        font-size: 12px;
        height: 40px;
        width: auto;
        background-color: #ccd1d1;
        border-radius: 0;
        border: none;
        opacity: 0.5;
    }

    input:hover {
        opacity: 1;
    }

    #register_button {

    }


    .navbar {
        margin-top: 10px;
        height: 40px;
        width: auto;
        background-color:  #ccd1d1;

    }

    #container

    navbar{
        padding: 0;
    }

    option[value=""][disabled] {
        display: none;
    }