    body{
        margin: 20px;
        background-color: #FFFFFF;
    }

    .my-container{
        border: 1px solid green;
    }

    .my-row{
        border: 1px solid red;
    }

    .my-col{
        border: 2px dotted blue; 
    }

    #kurv {
        float: right;
    }

    #logo-main {
    display: block;
    margin: 8px auto;
    display: inline-block;
    }

    #byggeknap {
        border: none; /*rewriting standard style, it is necessary to be able to change the size*/
        height: 20px;
        width: 40px;
    }
    #banner {

        height: 200px;
        width: 1500px;
        background-image: url("/img/cupcakebaggrund.png");

    }

    input {
        font-size: 12px;
        height: 40px;
        width: auto;
        background-color: #ccd1d1;
        border-radius: 0;
        border: none;
        opacity: 0.5;
    }

    input:hover {
        opacity: 1;
    }

    #register_button {

    }


    .navbar {

        height: 40px;
        width: auto;
        background-color:  #ccd1d1;

    }

    p {
        font-size: 50px;
    }

    #container

    navbar{
        padding: 0;
    }

    option[value=""][disabled] {
        display: none;
    }